@charset "utf-8";

.scroll_list{
  margin: 60px auto 0;
  height: 45.7142857vw;
  overflow-x: scroll;  /* 横スクロールの指定 */
	overflow-y: hidden;
  white-space: nowrap;  /* 横スクロールの指定 */
}
.scroll_list li{
  display: inline-block;  /* 横並びにする指定 */
	margin-left: 30px;
}
.scroll_list li:first-of-type{
  margin-left: 0;
}
.scroll-list img {
	width: 90%;
}
